// Mobile first styles of navigation
.site-navigation {
  display: flex;
  padding-left: 0;
  margin: 0 auto;
  background-color: $color-white;
  flex-direction: column;
  width: 100%;

  @include mq($from: large) {
    max-width: var(--container-width);
  }

  @include ie11 {
    max-width: $global-width;
  }

  &__item {
    position: relative;
    list-style: none;
    font-weight: 500;
    overflow: hidden;
    color: $color-black;

    &::before {
      content: '';
      margin-right: auto;
      left: -100%;
      width: 100%;
      height: 100%;
      position: absolute;
      background: $color-lightblue;
      z-index: 1;
      pointer-events: none;
      transition: left 0.25s ease-in-out;
    }

    &:hover {
      &::before {
        left: 0;
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
    font-size: 20px;
    line-height: 20px;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline-offset: -3px;
    }
  }
}

@include mq($from: large) {
  .site-navigation {
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      position: relative;
      display: flex;
      font-weight: bold;
      white-space: nowrap;

      // Items are horizontal
      &:not(:last-child) {
        margin-right: $spacing-l;
      }

      .is-level-2 {
        width: 100%;
        margin-right: 0;
      }
    }

    &__link {
      display: inline-block;
      padding: 5px;
    }
  }
}
