/**
 * Button
 */

.wp-block-button {
  border-radius: 0;

  &.is-style-outline {
    background-color: transparent;

    .wp-block-button__link {
      border-color: currentColor;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 0;
    font-size: 16px;
    padding: $spacing-layout-2-xs $spacing-layout-s;
    font-weight: 500;
    line-height: 1.25;

    &:focus {
      outline: solid 3px currentColor;
      outline-offset: 2px;
    }
  }
}
