@import '~@wordpress/base-styles/breakpoints';

.wp-block-media-text {
  // Force 50% ratio between sides on non-mobile.
  @media (min-width: #{$break-small + 1}) {
    grid-template-columns: 1fr 50% !important;

    &.has-media-on-the-right {
      grid-template-columns: 50% 1fr !important;
    }
  }

  & &__content {
    padding: 20px 15px 40px 15px;

    @media (min-width: #{$break-small + 1}) {
      padding: 64px 120px 64px 40px;
    }
  }

  @media (max-width: $break-small) {
    // Move the content part to be always below the image on mobile regardless
    // of direction.
    &.has-media-on-the-right {
      .wp-block-media-text__media {
        grid-row: 1 !important;
      }

      .wp-block-media-text__content {
        grid-row: 2 !important;
      }
    }
  }
}
