@import '~@wordpress/base-styles/breakpoints';

$content-overlap-amount-mobile: 32;

.wp-block-media-text {
  // Force 50% ratio between sides on non-mobile.
  @media (min-width: #{$break-small + 1}) {
    grid-template-columns: 1fr 50% !important;

    &.has-media-on-the-right {
      grid-template-columns: 50% 1fr !important;
    }
  }
}
